*.log
Foundation/Database/Debug/DataBase.sbr
*.tlog
*.sbr
*.obj
Window/Debug/vc120.pdb
*.idb
WebCat.opensdf
*.pdb
*.opendb
*.suo
*.bsc
Debug/Render.lib
*.bsc
WebCat.sdf
*.sdf
WebCat.sdf
/Debug
/Sample/CGHSLS/Debug/
