*.log
Foundation/Database/Debug/DataBase.sbr
*.tlog
*.sbr
*.obj
Window/Debug/vc120.pdb
*.idb
WebCat.opensdf
*.pdb
*.opendb
*.suo
*.bsc
Debug/Render.lib
*.bsc
WebCat.sdf
*.sdf
WebCat.sdf
/Debug/Ant/Ant.build.appxrecipe
/Debug/Ant/Ant.exe
/Debug/Ant/Ant.exp
/Debug/Ant/Ant.ilk
/Debug/Ant/Ant.lib
/Debug/Ant/Ant.winmd
/Debug/Ant/App.xbf
/Debug/Ant/AppX/Ant.exe
/Debug/Ant/AppX/Ant.winmd
/Debug/Ant/AppX/App.xbf
/Debug/Ant/AppX/AppxManifest.xml
/Debug/Ant/AppX/Assets/Logo.png
/Debug/Ant/AppX/Assets/SmallLogo.png
/Debug/Ant/AppX/Assets/SplashScreen.png
/Debug/Ant/AppX/Assets/StoreLogo.png
/Debug/Ant/AppX/DirectXPage.xbf
/Debug/Ant/AppX/SamplePixelShader.cso
/Debug/Ant/AppX/SampleVertexShader.cso
/Debug/Ant/AppX/resources.pri
/Debug/Ant/AppX/vs.appxrecipe
/Debug/Ant/AppxManifest.xml
/Debug/Ant/DirectXPage.xbf
/Debug/Ant/SamplePixelShader.cso
/Debug/Ant/SampleVertexShader.cso
/Debug/Ant/resources.pri
/Debug/Client.exe
/Debug/Client.ilk
/Debug/Evolution.exe
/Debug/Evolution.ilk
/Debug/GateWay.exe
/Debug/GateWay.ilk
/Debug/Maze.exe
/Debug/Maze.ilk
/Debug/Text.lib
/Debug/UI.lib
