*.log
Foundation/Database/Debug/DataBase.sbr
*.tlog
*.sbr
Window/Debug/vc120.pdb
*.idb
WebCat.opensdf
*.pdb
*.opendb
*.suo
*.bsc
Debug/Render.lib
*.bsc
WebCat.sdf
*.sdf
WebCat.sdf
/Debug/*.obj
/Debug/Window.bsc
/Debug/Window.exe
/Debug/Window.pdb
/Sample/CGHSLS/Debug/
/Lib/lib/fbx/libfbxsdk-mt.lib
/Lib/lib/fbx/libfbxsdk-md.lib
/Debug
/ipch/console.windows-d9921d25
