<?xml version="1.0" encoding="utf-8"?>
<root>
  <server>
    <local ip="10.0.22.63" port="9549" />
  </server>
  <resource>
    <websit path="E:/website" />
  </resource>
  <database>
    <url host="127.0.0.1" port="3306" username="root" password="123456" dbname="author" type="1"/>
    <table names="User" />
  </database>
</root>

<!--
<url host="E:/GIT/CodeLib/Linker/HttpServer/Resource/hs.db"/>
-->